
{% extends 'base.html' %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'new_store' %}">New stores</a></li>
{% endblock %}
{% block content %}
<br><br>
<body>
  <br><br>
<div class="container" style="background-color: #F8E0F7;">
      <h1 style="text-align:center">Add new store</h1>
      <br><br>
      <form method="POST" class="post-form">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="save btn btn-default" style="text-align:center">Save</button>
      </form>
      <br><br>
    <a class="btn btn-primary" href="/" role="button" style='width:100px;margin:0 50%;position:relative;left:-50px;'>Back</a>
</div>


</div>

</body>

{% endblock %}
