{% extends 'base.html' %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'storesbycategory' %}">Stores by category</a></li>
{% endblock %}

{% block content %}
<br><br><br><br>

<div class="container" style="background-color: #EFF8FB;">

<h3>FOOD</h3>
        <table class="table table-bordered">
          <thead class="thead-inverse">
            <tr>
              <th>Name of store</th>
              <th>Link</th>
              <th>Username</th>
              <th>Password</th>
              <th>Last update</th>
              <th>Updated by</th>
            </tr>
          </thead>
          <tbody>
            {% for store in stores_food %}
              <tr>
                </td>
                <td class="align-middle">
                {{ store.storename}}
                </td>
                <td class="align-middle">
                {{ store.store_link}}
                </td>
                <td class="align-middle">
                {{ store.store_username}}
                </td>
                <td class="align-middle">
                {{ store.store_pw}}
                </td>
                <td class="align-middle">
                {{ store.last_updated}}
                </td>
                <td class="align-middle">
                {{ store.updated_by}}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
</div>
<br><br>
<div class="container" style="background-color: #EFF8FB;">
<h3>TRAVEL</h3>
        <table class="table table-bordered">
          <thead class="thead-inverse">
            <tr>
              <th>Name of store</th>
              <th>Link</th>
              <th>Username</th>
              <th>Password</th>
              <th>Last update</th>
              <th>Updated by</th>
            </tr>
          </thead>
          <tbody>
            {% for store in stores_travel %}
              <tr>
                <td class="align-middle">
                {{ store.storename}}
                </td>
                <td class="align-middle">
                {{ store.store_link}}
                </td>
                <td class="align-middle">
                {{ store.store_username}}
                </td>
                <td class="align-middle">
                {{ store.store_pw}}
                </td>
                <td class="align-middle">
                {{ store.last_updated}}
                </td>
                <td class="align-middle">
                {{ store.updated_by}}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
</div>
<br><br>
<div class="container" style="background-color: #EFF8FB;">
<h3>ELECTRONIC</h3>
                <table class="table table-bordered">
                  <thead class="thead-inverse">
                    <tr>
                      <th>Name of store</th>
                      <th>Link</th>
                      <th>Username</th>
                      <th>Password</th>
                      <th>Last update</th>
                      <th>Updated by</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for store in stores_electronic %}
                      <tr>
                        <td class="align-middle">
                        {{ store.storename}}
                        </td>
                        <td class="align-middle">
                        {{ store.store_link}}
                        </td>
                        <td class="align-middle">
                        {{ store.store_username}}
                        </td>
                        <td class="align-middle">
                        {{ store.store_pw}}
                        </td>
                        <td class="align-middle">
                        {{ store.last_updated}}
                        </td>
                        <td class="align-middle">
                        {{ store.updated_by}}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
      </div>
</div>
    </body>
  {% endblock %}
